.page1{
    background-color:yellow;
    
    border: 2px solid red;
    margin: 1px 10px 1px 15px;
    padding:10px;
}
.page1 h1{
    text-align:center;
    color:blue;
    font-family: jokerman;
}
.page1 p{
    text-align:justify;
    color:green;
    font-family: jokerman;
    font-size: 20px;
}
.page2 article{
    background-color:beige;
    width:500px;
    text-align:center;
    margin:auto;
    border:1px solid brown;
    font-family: jokerman;
    padding:10px;

}
header{
    text-align:center;
    
    padding: 10px;
}
header h1{
    font-family:jokerman;
    border: 3px solid black;
 padding:12px;
 display:inline-block;
 border-radius:60px;

}
nav ul{
    list-style-type:none;
    background-color:orange;
    padding: 0px;
    margin:0px;
    overflow:hidden;
}
nav li{
    float:left;;

}
nav a{
    display: inline-block ;
    color:azure;
    text-align:center;
    padding:10px;
    margin:10px 15px 10px 15px;
    text-decoration:underline;
    font-family: jokerman;
}
nav a:hover{

    color:black;
}
footer{
    background-color: bisque;
    text-align: center;
    padding: 10px;
}